<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css",
    integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni", crossorigin="anonymous")
    <link rel="stylesheet" href="../static/index.css">
    <title>E-commerce website</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"><img src="../static/images/logo.png" width="125px" alt=""></a>
                </div>
                <nav>
                    <ul id="menu-item">
                        <li><a href="/">Home</a></li>
                        <li><a href="/product">Product</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/Contact">Contact</a></li>
                        <li><a href="/Account">Account</a></li>
                    </ul>
                </nav>
                <a href="/cart"><img src="../static/images/cart.png" width="30px" height="30px" alt=""></a>
                <img src="../static/images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Give Your Workout <br> A New Style!</h1>
                    <p>Succes is not always about greatness. it's about consostency. Consistence <br> hard work gains
                        success.
                        Greatness will come.</p>
                    <a href="" class="btn"> Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="../static/images/image1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- featured categories -->
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="../static/images/category-1.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="../static/images/category-2.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="../static/images/category-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- featured product -->
    <div class="small-container">
        <h2 class="title">featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="/Product_detail"><img src="../static/images/product-1.jpg" alt=""></a>
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-2.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$58.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-3.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-4.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$55.00</p>
            </div>
        </div>
        <h2 class="title">Latest product</h2>
        <div class="row">
            <div class="col-4">
                <img src="../static/images/product-5.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-6.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$58.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-7.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-8.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$55.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../static/images/product-9.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-10.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$58.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-11.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-12.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$55.00</p>
            </div>
        </div>
    </div>

    <!-- offer -->

    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="../static/images/exclusive.png" class="offer-img" alt="">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on RedStore</p>
                    <h1>Smart Band</h1>
                    <small>The Mi smart Band 4 features a 39.9% larger (than Mi band) AMOLED color full -touch display
                        with adjustable brightness , so everything is clear as can be.</small>
                    <a href="" class="btn">Buy now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------testimonial---------- -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <p>The term client is derived from Latin clientem or clinare meaning "to incline" or "to bend", and
                        is related to the emotive idea of closure. It is widely believed that people only change their
                        habits when motivated by greed and fear.
                    </p>
                    <img src="../static/images/user-1.png" alt="">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3">
                    <p>The term client is derived from Latin clientem or clinare meaning "to incline" or "to bend", and
                        is related to the emotive idea of closure. It is widely believed that people only change their
                        habits when motivated by greed and fear.
                    </p>
                    <img src="../static/images/user-2.png" alt="">
                    <h3>Mike Parker</h3>
                </div>
                <div class="col-3">
                    <p>The term client is derived from Latin clientem or clinare meaning "to incline" or "to bend", and
                        is related to the emotive idea of closure. It is widely believed that people only change their
                        habits when motivated by greed and fear.
                    </p>
                    <img src="../static/images/user-3.png" alt="">
                    <h3>Kat Parker</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------brands----------- -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="../static/images/logo-godrej.png" alt="">
                </div>
                <div class="col-5">
                    <img src="../static/images/logo-oppo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="../static/images/logo-paypal.png" alt="">
                </div>
                <div class="col-5">
                    <img src="../static/images/logo-philips.png" alt="">
                </div>
                <div class="col-5">
                    <img src="../static/images/logo-coca-cola.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- --------------footer----------- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for android and ios mobile phone</p>
                    <div class="applogo">
                        <img src="../static/images/play-store.png" alt="">
                        <img src="../static/images/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="../static/images/logo-white.png" alt="">
                    <p>Purpose is to sustainable make the pleasue and benefits of sports Accessible to the Many</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful:Links</h3>
                    <ul>
                        <li>Coupens</li>
                        <li>Blog post</li>
                        <li>Return policy</li>
                        <li>Join Affilate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - E-commerce website</p>
        </div>
    </div>
</body>
<script src="../static/index.js"></script>

</html>