<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css",
    integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni", crossorigin="anonymous")
    <!-- <link rel="stylesheet" href="../static/index.css"> -->
    <link rel="stylesheet" href="../static/Product_detail.css">
    <link rel="stylesheet" href="../static/Product.css">
    <title> All product of E-commerce website</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                   <a href="/"> <img src="../static/images/logo.png" width="125px" alt=""></a>
                </div>
                <nav>
                    <ul id="menu-item">
                        <li><a href="/">Home</a></li>
                        <li><a href="/product">Product</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/Contact">Contact</a></li>
                        <li><a href="/Account">Account</a></li>
                    </ul>
                </nav>
                <a href="/cart"><img src="../static/images/cart.png" width="30px" height="30px" alt=""></a>
                <img src="../static/images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>

        </div>
    </div>

    <!-- --------single product detail----------- -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="../static/images/gallery-1.jpg" width="100%" id="productImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="../static/images/gallery-1.jpg" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="../static/images/gallery-2.jpg" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="../static/images/gallery-3.jpg" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="../static/images/gallery-4.jpg" class="small-img">
                    </div>
                </div>
            </div>

            <div class="col-2">
                <p>Home / T-shirt</p>
                <h1>Red Printed T-shirt by HRX</h1>
                <h4>$50.00</h4>
                <select>
                    <option>Select size</option>
                    <option>XXl</option>
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add to cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3><br>
                <p>Give your summer wardrope a style upgrade with the HRX men's active T-shirt. team it with pair of
                    short for your mporning workout or a denim for an evening out with the guys</p>
            </div>
        </div>
    </div>

    <!-- ------------title----------- -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>

    <!-- featured product -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="../static/images/product-1.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-2.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$58.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-3.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="../static/images/product-4.jpg" alt="">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$55.00</p>
            </div>

        </div>
    </div>

    <!-- --------------footer----------- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for android and ios mobile phone</p>
                    <div class="applogo">
                        <img src="../static/images/play-store.png" alt="">
                        <img src="../static/images/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="../static/images/logo-white.png" alt="">
                    <p>Purpose is to sustainable make the pleasue and benefits of sports Accessible to the Many
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful:Links</h3>
                    <ul>
                        <li>Coupens</li>
                        <li>Blog post</li>
                        <li>Return policy</li>
                        <li>Join Affilate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - E-commerce website</p>
        </div>
    </div>
</body>
<script src="../static/index.js"></script>
<script src="../static/index.js"></script>

</html>